:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
  }



html{
    
}


body {
    background-color: var(--grey);
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500; 
    margin:0px;
    padding: 0px;
    height: 100vh;
    
}



.header , .container {
    display: flex;
    justify-content: start;
    align-items: center;
    
    margin:0px;
    padding:0px;
    
}
h1{
    padding-left: 50px;
}
.header{
    box-shadow: var(--shadow);
    
}

.container {
    width:100%;
    background-color: var(--white);
}

#mainBody{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    padding-top:30px;
    height:100vh;
    
}

.addBookButton{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}
button:hover{
    filter:brightness(90%);
}
.btn{
    font-size: 24px;
    font-weight: 600;
    border:none;
    border-radius: var(--border-radius);
}

.user-entry{
    display: flex;
    flex-direction: column;
    gap:15px;
    font-size: 16px;
    font-weight: 600;
    visibility: hidden;
    position: fixed;
    background-color: var(--grey);
    border-radius: var(--border-radius);
    padding: 10px;
    align-items:center ;
    justify-content: center;
    
}

#visible{
    visibility: visible;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.input{
    
    padding:5px;
    border: none;
    border-radius: var(--border-radius);
    height:35px;
    font-size: 16px;
    background-color: var(--white);
    
}

.have-u-read{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap:6px;
}

#submitButton{
   
    background-color: var(--light-green);
}

.bookUser{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: var(--border-radius);
    background-color: var(--white);
    font-weight: 600;
}

